@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap");
body::-webkit-scrollbar {
  width: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0 3%;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.1em;
  background: linear-gradient(180deg, #000000 0%, #778095 100%);
  color: #ffffff; 
}

h1,
h2,
p {
  margin: 0;
}

h1,
h2 {
  font-weight: 700;
  font-size: 42px;
}

img {
  object-fit: contain ;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.2s;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: center;
  margin: 8px 10%;
  width: 80%;
  background-color: #151c2493;
  border-radius: 10px;
  top: 0;
  left: 0;
  position: fixed;
  z-index:10;
}

.main-list {
  display: flex;
  gap: 50px;
}

.list-item__link {
  position: relative;
  font-size: 26px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
  background-color: #00000000;
}

.list-item__link:hover {
  color: #e2a5b6b6;
}

.list-item__link::after {
  position: absolute;
  transition: 0.2s;
  content: "";
  border-radius: 10px;
  width: 55%;
  height: 3px;
  bottom: 2px;
  background: #acb0d886;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.list-item__link:hover::after {
  width: 100%;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-image: url("C:\Users\NB-163\Documents\Naii\kodland-i222\proyek\portfolio-ind-main\static\img\earth.png"); */
  background-size: cover;
  padding: 20vh 10vw 30vh 10vw;
  background-position: center;
  gap: 20px;
}

.home__title {
  letter-spacing: 0.01em;
  font-size: 70px;
  text-align: center;
  color: #AC3C5B;
  line-height: 1;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.home__subtitle {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  line-height: 1;
}

.penjelasan {
  margin-bottom: 200px;
}

.penjelasan__title {
  font-size: 60px;
  position: relative;
  text-align: left;
  color: #7CB89D;
  line-height: 1;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-bottom: 60px;
}

.penjelasan__title::after {
  position: absolute;
  content: "";
  border-radius: 10px;
  width: 90%;
  height: 1px;
  bottom: -13px;
  background: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dampak {
  margin-bottom: 200px;
}

.dampak__title {
  font-size: 60px;
  position: relative;
  text-align: left;
  color: #7CB89D;
  line-height: 1;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-bottom: 60px;
}

.dampak__title::after {
  position: absolute;
  content: "";
  border-radius: 10px;
  width: 90%;
  height: 1px;
  bottom: -13px;
  background: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.info-block {
  display: grid;
  justify-content: space-between;
}

.info-block__text {
  width: 85%;
}

.info-block__img {
  align-self: center;
}

.upaya {
  margin-bottom: 200px;
}

.upaya__title {
  font-size: 60px;
  position: relative;
  text-align: left;
  color: #7CB89D;
  line-height: 1;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-bottom: 20px;
}

.upaya__title::after {
  position: absolute;
  content: "";
  border-radius: 10px;
  width: 90%;
  height: 1px;
  bottom: -13px;
  background: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.feedback {
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.feedback__title {
  font-size: 60px;
  position: relative;
  text-align: left;
  color:#7CB89D;
  line-height: 1;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-bottom: 20px;
}

.feedback__title::after {
  position: absolute;
  content: "";
  border-radius: 10px;
  width: 90%;
  height: 1px;
  bottom: -13px;
  background: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  gap: 20px;
}

.form label {
  width: 100%;
}

.form__input {
  width: 100%;
  font: inherit;
  background: #192224;
  border: 2px solid #7CB89D;
  color: #fff;
  padding: 15px;
  border-radius: 10px;
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));
}

.form__input::placeholder {
  color: #ffffff;
}

.form__input:active,
.form__input:focus,
.form__input:focus-visible {
  border: none;
}


.form__button {
  font: inherit;
  font-weight: 800;
  color: #fff;
  background: linear-gradient(111.97deg, #AC3C5B 35.63%, rgba(204, 139, 242, 0) 150.16%);
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));
  padding: 15px 30px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
