<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>PROYEK AKHIR 1222</title>
  </head>
  <body>
    <header class="header">
      <nav class="header__nav main-nav">
        <ul class="main-nav__list main-list">
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#home">BERANDA</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#penjelasan">MENGENAL</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#dampak">DAMPAK</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#upaya">UPAYA</a>
          </li>
        </ul>
      </nav>
    </header> 
    <main class="main">
      <!-- Bagian Pratinjau -->
      <section class="main__home home" id="home">
        <h2 class="home__title">AKIBAT PERUBAHAN IKLIM</h2> 
        <p class="home__subtitle">AYO LAKUKAN SESUATU UNTUK BUMI KITA</p>
        <img
            class="info-block__img"
            src="\static\img\earth.png"
            alt="pic"
            width="800"
            height="600"
          />
      </section>
      <!-- Bagian Pengertian -->
      <section class="main__penjelasan penjelasan" id="penjelasan">
        <h3 class="penjelasan__title">APA ITU "CLIMATE CHANGE"?</h3>
        <div class="penjelasan__info info-block">
          <p class="info-block__text">
            Perubahan Iklim (<i>Climate Change</i>) adalah suatu perubahan jangka panjang dalam pola cuaca rata-rata yang menentukan iklim lokal, regional, dan global di tempat tinggal kita yaitu; Bumi.
          </p>
          <p> <br /> </p>
          <p class="info-block__text">
            Awalnya, pergeseran ini bersifat seperti fenomena alam yang alami, tetapi sejak pertengahan abad 20-an aktivitas manusia telah menjadi pendorong utama <i>Perubahan Iklim</i> yang 
            akhirnya memicu <i>Pemanasan Global</i>.
          </p>
          <img
            class="info-block__img"
            src="\static\img\melt.png"
            alt="bumi kita (img by dev)"
            width="600"
            height="400"
          />
          <p class="info-block__text">
            Dalam laporan PBB tahun 2018, ribuan ilmuwan dan peninjau pemerintah sepakat bahwa membatasi kenaikan suhu global yang tidak lebih dari 1,5°C akan membantu manusia menghindari 
            dampak iklim terburuk dan mempertahankan iklim Bumi yang layak huni. Namun, jalur emisi karbon dioksida saat ini dapat meningkatkan suhu global sebanyak 4,4°C pada akhir abad ini. 
          </p>
          <p> <br /> </p>
          <p class="info-block__text">
            Peningkatan suhu dari waktu ke waktu pun mengubah pola cuaca dan mengganggu keseimbangan alam. Hal ini menimbulkan banyak risiko bagi manusia dan seluruh makhluk hidup lainnya di Planet yang kita tinggali.
            Apa saja dampaknya? Ayo simak penjelasan dibawah ini~
          </p>
        </div>
      </section>
      <!-- Bagian Dampak -->
      <section class="main__dampak dampak" id="dampak">
        <h3 class="dampak__title">DAMPAK CLIMATE CHANGE</h3>
        <div class="dampak__info info-block">
          <p class="info-block__text">
            <dl>
              <h2>1. Suhu yang Memanas</h2>
              <dd><img
                  class="info-block__img"
                  src="\static\img\sunshine.png"
                  alt="shine (img by dev)"
                  width="600"
                  height="400"
                /></dd>
              <dd>
                Hampir semua wilayah daratan mengalami lebih banyak hari terik dan gelombang panas. Tahun 2020 adalah salah satu tahun terpanas yang pernah tercatat. Suhu yang lebih tinggi dapat meningkatkan 
                penyakit yang berhubungan dengan cuaca yang panas ini dan juga dapat membuat orang lebih sulit untuk bekerja dan beraktivitas. Serta kebakaran hutan yang lebih sering mudah terjadi dan lebih cepat menyebar dalam
                kondisi alam yang kekeringan saat ini.
              </dd>
            </dl>
          </p>
          <p class="info-block__text">
            <dl>
              <h2>2. Kekeringan</h2>
              <dd><img
                class="info-block__img"
                src="\static\img\gurun.png"
                alt="desert (img by dev)"
                width="600"
                height="400"
              /></dd>
              <dd>
                Kekeringan terjadi ketika suhu yang lebih tinggi dan perubahan pola curah hujan mengakibatkan defisit air yang signifikan di suatu wilayah. Hal ini dapat mengakibatkan kekurangan air untuk irigasi, konsumsi, 
                dan ekosistem yang menyebabkan dampak serius bagi lingkungan, dan kesehatan makhluk hidup. Pemanasan global juga dapat mempercepat penguapan air dari sumber-sumber air alami seperti sungai, danau, dan lain-lain 
                yang memperburuk kondisi kemarau hingga berkelanjut.
              </dd>
            </dl>
          </p>
          <p class="info-block__text">
            <dl>
              <h2>3. Naiknya Permukaan Laut</h2>
              <dd><img
                class="info-block__img"
                src="\static\img\air.png"
                alt="water rising (img by dev)"
                width="600"
                height="400"
              /></dd>
              <dd>
                Ketika es di berbagai belahan dunia mencair, air yang tadinya terperangkap dalam bentuk es itu kemudian mengalir ke laut, menyebabkan peningkatan volume air laut. Hal ini berpengaruh pada kenaikan 
                permukaan laut, yang mengakibatkan banjir di daerah pesisir, erosi pantai, dan dampak negatif lainnya pada ekosistem serta populasi makhluk hidup yang tinggal di pesisir pantai. Dan juga Suhu air laut bisa 
                menghangat karena adanya Peningkatan Gas Rumah Kaca, penyerapan panas, perubahan sirkulasi lautan, dan sebagainya.
              </dd>
            </dl>
          </p>
          <p class="info-block__text">
            <dl>
              <h2>4. Spesies yang Berkurang</h2>
              <dd><img
                class="info-block__img"
                src="\static\img\animals.png"
                alt="hewan punah (img by dev)"
                width="600"
                height="400"
              /></dd>
              <dd>
                Perubahan suhu dan pola cuaca yang ekstrem mengganggu habitat alami dan sumber daya makanan beberapa spesies, mengakibatkan penurunan populasi dan akhirnya kepunahan. Perubahan iklim juga mempengaruhi rantai makanan
                yang dapat mengancam kelangsungan hidup spesies-spesies tertentu. Kehilangan habitat akibat perubahan iklim seperti pencairan es, kekeringan, dan perubahan tingkat laut, juga 
                dapat mempersempit cakupan habitat dan meningkatkan tekanan terhadap kelangsungan hidup mereka.
              </dd>
            </dl>
          </p>
          <p class="info-block__text">
            <dl>
              <h2>5. Wabah Penyakit</h2>
              <dd><img
                class="info-block__img"
                src="\static\img\sakit.png"
                alt="org sakit (img by dev)"
                width="600"
                height="400"
              /></dd>
              <dd>
                Peningkatan suhu global menciptakan lingkungan yang lebih mendukung bagi hewan seperti nyamuk, yang dapat memperluas jangkauan mereka dan memperpanjang musim reproduksi. Ini meningkatkan penyebaran penyakit seperti 
                malaria, dan DBD. Selain itu, perubahan pola cuaca seperti curah hujan yang lebih ekstrem dapat mencemari sumber air dan meningkatkan risiko penyakit yang ditularkan melalui air seperti kolera. Perubahan 
                iklim juga dapat melemahkan ekosistem dan mengganggu keseimbangan alam, sehingga penyakit baru dapat muncul dan menyebar lebih mudah.
              </dd>
            </dl>
          </p>
        </div>
      </section>
      <!-- Bagian Pencegahan -->
      <section class="main__upaya upaya" id="upaya">
        <h3 class="upaya__title">UPAYA PENCEGAHAN</h3>
        <div class="upaya__info info-block">
          <img
            class="info-block__img"
            src="\static\img\all.png"
            alt="image (img by dev)"
            width="900"
            height="400"
          />
          <p class="info-block__text">
            Karena Pemanasan global mengancam keberlanjutan planet kita, mempengaruhi iklim, ekosistem, dan kehidupan sehari-hari kita. Maka, setiap tindakan kecil dari kita semua dapat membuat perbedaan besar. 
            Dengan beberapa cara berikut, kita dapat melindungi bumi untuk generasi mendatang!
          </p>
          <p> <br /> </p>
          <p class="info-block__text">
            <dl>
              <h2>1. Penggunaan Energi</h2>
              <p> <br /> </p>
              <dd>
                Akhir-akhir ini kegiatan manusia lebih sering mempengaruhi pemanasan global (terutama emisi gas rumah kaca). Tidak hanya itu, 
                sebagian besar energi listrik dihasilkan oleh batu bara, gas, dan minyak yang dapat mengurangi ketersediaan Sumber Daya Alam. Maka dari itu, menghemat energi diperlukan dengan;
                <p> <br /> </p>
                <li>Menggunakan energi terbarukan seperti tenaga surya, angin, dan hidro-elektrik</li>
                <li>Menggunakan transportasi umum (atau berjalan kaki) daripada kendaraan pribadi</li>
                <li>Meningkatkan efisiensi energi di rumah, transportasi, dan industri</li>
              </dd>
            </dl>
          </p>
          <p class="info-block__text">
            <dl>
              <h2>2. Pengelolaan Hutan</h2>
              <p> <br /> </p>
              <dd>
                Tempat inilah dimana berbagai spesies hidup, namun terpaksa meniggalkan habitatnya karena hutan yang sering dijadikan lahan atau dilahap oleh pembakaran, hal ini diperlukan suatu pengawasan terhadap kerusakan hutan itu sendiri. Bagaimana? 
                <p> <br /> </p>
                <li>Dengan Reboisasi dan Aforestasi; Yaitu menanam kembali hutan yang telah ditebang dan memperluas area hutan, bisa dilakukan dengan mengajak penduduk sekitar atau sukarelawan untuk bekerja sama.</li> 
                <li>Menghentikan Deforestasi; Mengurangi atau menghentikan penebangan hutan untuk pertanian atau pembangunan dengan suatu peraturan tertentu.</li> 
              </dd>
            </dl>
          </p>
          <p class="info-block__text">
            <dl>
              <h2>3. Pertanian Berkelanjutan</h2>
              <p> <br /> </p>
              <dd>
                Dengan lahan pertanian yang sudah disediakan, diperlukan pengelolaan lahan yang lebih baik dengan menggunakan;
                <p> <br /> </p>
                <li>Teknik pertanian yang mengurangi emisi seperti rotasi tanaman, agroforestri, dan pengelolaan pupuk.</li>
                <li>Menggunakan sistem irigasi efisien seperti irigasi tetes untuk mengurangi penggunaan air dan memastikan air langsung mencapai akar tanaman.</li> 
                <li>Memberikan pendidikan kepada petani mengenai praktik pertanian berkelanjutan dan teknologi baru.</li>
                
              </dd>
            </dl>
          </p>
          <p class="info-block__text">
            <dl>
              <h2>4. Kesadaran dan Edukasi</h2>
              <p> <br /> </p>
              <dd>
                Mengajak masyarakat dengan berbagai cara yang mendorong kepedulian terhadap lingkungan sekitarnya dengan hal-hal sekecil apapun! Itupun bisa dimulai dari diri sendiri sehingga upaya mencegah perubahan iklim lebih baik!
                <p> <br /> </p>
                <li>Lakukan 3R (Reduce, Reuse, Recycle) dan budayakan dalam kehidupan sehari-hari masyarakat.</li>
                <li>Meningkatkan kesadaran masyarakat tentang pentingnya mengurangi emisi dan menjaga lingkungan.</li>
                <li>Mendorong partisipasi masyarakat dalam rangka kegiatan ramah lingkungan dan inisiatif hijau serta berbagai program lingkungan lainnya.</li>
              </dd>
            </dl>
          </p>
          <p class="info-block__text">
            <dl>
              <h2>5. Kerjasama Internasional</h2>
              <p> <br /> </p>
              <dd>
                Dengan mendukung program ataupun kesepakatan Internasional yang bertujuan baik
                <p> <br /> </p>
                <li>Mendukung dan berpartisipasi dalam perjanjian internasional seperti <u><a href="https://unfccc.int/process-and-meetings/the-paris-agreement">Perjanjian Paris</a></u> untuk membatasi kenaikan suhu global agar terkendali.</li>
                <li>Memberikan bantuan teknologi dan finansial kepada negara-negara berkembang untuk membantu mereka mengurangi emisi dan beradaptasi dengan perubahan iklim.</li> 
              </dd>
            </dl>
          </p>
        </div>
      </section>
      <!-- Formulir Masukan -->
      <section class="main__feedback feedback" id="feedback">
        <h3 class="feedback__title">FEEDBACK</h3>
        <form action="" method="POST" class="feedback__form form">
          <label for="email">
            <input type="email" class="form__input" name="email" id="email" placeholder="Masukkan e-mail kamu!" required>
          </label>
          <label for="text">
            <textarea name="text" class="form__input" id="text" cols="70" rows="5" required placeholder="Bagaimana anda akan mencegah perubahan iklim yang drastis ini?"></textarea>
          </label>
          <label for="text">
            <textarea name="text" class="form__input" id="text" cols="70" rows="5" required placeholder="Apa yang anda harapkan untuk masa yang akan datang?"></textarea>
          </label>
          <button class="form__button" type="submit">SEND</button>
        </form>
      </section>
    </main>
    <!-- Sebuah footer untuk tautan media sosial -->
    <footer>

    </footer>
  </body>
</html>
