<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>PROYEK AKHIR</title>
  </head>
  <body>
    <header class="header">
      <nav class="header__nav main-nav">
        <ul class="main-nav__list main-list">
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#home">BERANDA</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#penjelasan">GLOBAL WARMING</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#dampak">DAMPAK</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#upaya">UPAYA</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="main">
      <!-- Bagian Pratinjau -->
      <section class="main__home home" id="home">
        <h2 class="home__title">DAMPAK PERUBAHAN IKLIM</h2> 
        <p class="home__subtitle">AYO LAKUKAN SESUATU UNTUK BUMI KITA</p>
      </section>
      <!-- Bagian Pengertian -->
      <section class="main__penjelasan penjelasan" id="penjelasan">
        <h3 class="penjelasan__title">APA ITU "CLIMATE CHANGE"?</h3>
        <div class="penjelasan__info info-block">
          <p class="info-block__text">
            Inform  
          </p>
          <img
            class="info-block__img"
            src=""
            alt="pic"
            width="250"
            height="250"
          />
        </div>
      </section>
      <!-- Bagian Dampak -->
      <section class="main__dampak dampak" id="dampak">
        <h3 class="dampak__title">DAMPAK CLIMATE CHANGE</h3>
        <div class="dampak__info info-block">
          <p class="info-block__text">
            Inform  
          </p>
        </div>
      </section>
      <!-- Bagian Pencegahan -->
      <section class="main__upaya upaya" id="upaya">
        <h3 class="upaya__title">UPAYA PENCEGAHAN</h3>
        <div class="upaya__info info-block">
          <p class="info-block__text">
            Inform  
          </p>
        </div>
      </section>
      <!-- Formulir Masukan -->
      <section class="main__feedback feedback" id="feedback">
        <h3 class="feedback__title">FEEDBACK</h3>
        <form action="" method="POST" class="feedback__form form">
          <label for="email">
            <input type="email" class="form__input" name="email" id="email" placeholder="Masukkan e-mail kamu!" required>
          </label>
          <label for="text">
            <textarea name="text" class="form__input" id="text" cols="70" rows="10" required placeholder="Bagaimana anda akan mencegah perubahan iklim yang drastis ini?"></textarea>
          </label>
          <button class="form__button" type="submit">SEND</button>
        </form>
      </section>
    </main>
    <!-- Sebuah footer untuk tautan media sosial -->
    <footer>

    </footer>
  </body>
</html>
